.hover-list {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.hover-list:hover {
  -moz-transform: translate(3rem);
  -webkit-transform: translate(3rem);
  -o-transform: translate(3rem);
  transform: translate(3rem); }

.yellow-box-text {
  color: #ff0;
  text-shadow: 0 1px 0 #cc0, 0 2px 0 #c9c900, 0 3px 0 #bb0, 0 4px 0 #b9b900, 0 5px 0 #aa0, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.green-box-text {
  color: #0f0;
  text-shadow: 0 1px 0 #0c0, 0 2px 0 #00c900, 0 3px 0 #0b0, 0 4px 0 #00b900, 0 5px 0 #0a0, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.red-box-text {
  color: #f00;
  text-shadow: 0 1px 0 #c00, 0 2px 0 #c90000, 0 3px 0 #b00, 0 4px 0 #b90000, 0 5px 0 #a00, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.magenta-box-text {
  color: #f0f;
  text-shadow: 0 1px 0 #c0c, 0 2px 0 #c900c9, 0 3px 0 #b0b, 0 4px 0 #b900b9, 0 5px 0 #a0a, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.blue-box-text {
  color: #00f;
  text-shadow: 0 1px 0 #00c, 0 2px 0 #0000c9, 0 3px 0 #00b, 0 4px 0 #0000b9, 0 5px 0 #00a, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.cyan-box-text {
  color: #0ff;
  text-shadow: 0 1px 0 #0cc, 0 2px 0 #00c9c9, 0 3px 0 #0bb, 0 4px 0 #00b9b9, 0 5px 0 #0aa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.auto-margin {
  margin-top: auto;
  margin-bottom: auto; }

.slick-prev:before, .slick-next:before {
  color: black !important; }

.slider {
  padding: 3px; }

@media (min-width: 550px) {
  .active {
    padding-bottom: 3rem; } }
.tab {
  cursor: pointer;
  color: #00B5EE;
  text-shadow: 0 1px 0 #00a2d5, 0 2px 0 #008ebb, 0 3px 0 #007ba2, 0 4px 0 #006788, 0 5px 0 #00546f, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.tab-content {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; }

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.active {
  color: #FEDD00;
  text-shadow: 0 1px 0 #e5c700, 0 2px 0 #cbb100, 0 3px 0 #b29a00, 0 4px 0 #988400, 0 5px 0 #7f6e00, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

hr {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; }

/*# sourceMappingURL=home.css.map */
