// ---MIXINS---
@mixin box-text($color, $c1, $c2, $c3, $c4, $c5) {
  color: $color;
  text-shadow: 0 1px 0 $c1, 0 2px 0 $c2, 0 3px 0 $c3, 0 4px 0 $c4, 0 5px 0 $c5, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
$base-inactive: #00B5EE;
$base-active: #FEDD00;

// ---TOC List Items---
.hover-list{
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hover-list:hover {
  -moz-transform: translate(3rem);
  -webkit-transform: translate(3rem);
  -o-transform: translate(3rem);
  transform: translate(3rem);
}

// ---HEADER TEXT COLOR---
.yellow-box-text { @include box-text(#ff0, #cc0, #c9c900, #bb0, #b9b900, #aa0); }
.green-box-text { @include box-text(#0f0, #0c0, #00c900, #0b0, #00b900, #0a0); }
.red-box-text { @include box-text(#f00, #c00, #c90000, #b00, #b90000, #a00); }
.magenta-box-text { @include box-text(#f0f, #c0c, #c900c9, #b0b, #b900b9, #a0a); }
.blue-box-text { @include box-text(#00f, #00c, #0000c9, #00b, #0000b9, #00a); }
.cyan-box-text { @include box-text(#0ff, #0cc, #00c9c9, #0bb, #00b9b9, #0aa); }


// ---AUTO MARGINS---
.auto-margin {
  margin-top: auto;
  margin-bottom: auto;
}

// ---SLICK---
.slick-prev:before, .slick-next:before {
  color: black !important;
}
.slider {
  padding: 3px;
}

// ---MOBILE---
@media (min-width: 550px) {
  .active {
    padding-bottom: 3rem;
  }
}

// ---TABS---
.tab {
  cursor: pointer;
  @include box-text($base-inactive, darken($base-inactive, 5%), darken($base-inactive, 10%), darken($base-inactive, 15%), darken($base-inactive, 20%), darken($base-inactive, 25%));
}

.tab-content {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.active {
  @include box-text($base-active, darken($base-active, 5%), darken($base-active, 10%), darken($base-active, 15%), darken($base-active, 20%), darken($base-active, 25%));
}

hr {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
